
@import '../App.scss';

.HUD {
    text-align: center;
    user-select: none;
}

.HUD_left{
    background-color: rgb(0, 175, 152);
    position: fixed;
    top: 0px;
    left: 0px;
    width: $marginCanvasLeft;
    height: 100%;
    border: 1px solid black;
}

.HUD_top{
    background-color: rgb(0, 175, 152);
    display: inline-flex;
    width: 100%;
    margin-left: $marginCanvasLeft;
    border: 1px solid black;
    border-left: none;
    padding: 3px 0px;
}

.HUD_section{
    margin: 7px;
}

.HUD_section:hover{
    cursor: pointer;
}

.HUD_icon{
    width: 36px;
    height: 36px;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
}

.HUD_button{
    display: inline-block;
    padding: 1px;
    background-color: green;
}

.HUD_button:hover{
    background-color: rgb(74, 255, 255);
    cursor: pointer;
}

.HUD_top_section{
    padding: 0px 10px;
    width: 10vw;
    height: 15px;
    vertical-align: middle;
}

.HUD_top_section_prolonged{
    padding: 0px 10px;
    width: 15vw;
    height: 15px;
    vertical-align: middle;
}

.HUD_header{
    background-color: rgb(106, 236, 245);
    height: 10vh;
}

.HUD_footer{
    background-color: rgb(106, 236, 245);
    height: 30vh;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 2px;
    border-top: 1px solid black;
}

.HUD_footer > label{
    font-weight: 800;
    font-size: larger;
}

.HUD_loading_bar {
    background-color: rgb(2, 133, 115);
    width: 104px;
    height: 2.6vh;
    border: 2px black solid;
}

.HUD_top_button{
    width: 24px;
    height: 24px;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
}

.HUD_information {

}

.HUD_information_label {
    display: block;
}

.HUD_information_error {
    color: red;
}

.HUD_positive_funds{
    color: green
}

.HUD_negative_funds{
    color: red;
}