
@import '../App.scss';

.HUD {
    text-align: center;
    user-select: none;
}

.HUD_left{
    background-color: rgb(0, 175, 152);
    position: fixed;
    top: 0px;
    left: 0px;
    width: $marginCanvasLeft;
    height: 100%;
    border: 1px solid black;
}

.HUD_top {
    background-color: rgb(0, 175, 152);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    min-height: 30px;
    height: 4.2vh;
    margin-left: $marginCanvasLeft;
    border: 1px solid black;
    border-left: none;
    font-weight: 600;
}

.HUD_top_mobile {
    background-color: rgb(0, 175, 152);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    min-height: 30px;
    margin-left: $marginCanvasLeft;
    border: 1px solid black;
    border-left: none;
    font-weight: 600;
}

.HUD_top_portrait {
    background-color: rgb(0, 175, 152);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    min-height: 30px;
    margin-left: $marginCanvasLeft;
    border: 1px solid black;
    border-left: none;
    font-weight: 600;
}

.HUD_section{
    margin: 7px;
}

.HUD_section:hover{
    cursor: pointer;
}

.HUD_button{
    display: inline-block;
    background-color: green;
    padding: 1.5px;
}

.HUD_icon{
    width: 36px;
    height: 36px;
    border-width: 1px;
    border-style: solid;
    vertical-align: sub;
}

.HUD_button:hover{
    background-color: rgb(74, 255, 255);
    cursor: pointer;
}

.HUD_top_section{
    width: 155px;
    align-self: flex-start;
}

.HUD_top_section_prolonged{
    width: 165px;
    align-self: flex-start;
}

.HUD_top_section > label, .HUD_top_section_prolonged > label{
    vertical-align: middle;
}

.HUD_top_a{
    text-decoration: none;
    color: white;
    align-self: flex-start;
}

.HUD_footer{
    background-color: rgb(106, 236, 245);
    height: 33vh;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 2px;
    border-top: 1px solid black;
}

.HUD_footer > label{
    font-weight: 800;
    font-size: larger;
}

.HUD_loading_bar {
    background-color: rgb(2, 133, 115);
    width: 104px;
    height: 20px;
    border: 2px black solid;
    margin-top: 0.5vh;
}

.HUD_top_button{
    width: 25px;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    vertical-align: sub;
}

.HUD_information {
    
}

.HUD_information_ul{
    list-style-type: none;
    padding: 0;
}

.HUD_information_label {
    display: block;
}

.HUD_information_label_residential{
    display: block;
    color: green;
    font-weight: 600;
    text-shadow: 0.2px 0.2px black;
}

.HUD_information_label_commercial{
    display: block;
    color: blue;
    font-weight: 600;
    text-shadow: 0.2px 0.2px black;
}

.HUD_information_label_industry{
    display: block;
    color: orange;
    font-weight: 600;
    text-shadow: 0.2px 0.2px black;
}

.HUD_information_error {
    color: red;
}

.HUD_positive_funds{
    color: green
}

.HUD_negative_funds{
    color: red;
}
