$marginCanvasLeft: 150px;


* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f1fAf8;
  position: fixed;
}

Canvas {
  background-color: #e0f7fc;
}

.CanvasWrapper{
  margin-left: $marginCanvasLeft;
  width: 92vw;
  height: 100%;
}